@import "tailwindcss";

@font-face {
  font-family: "itc-benguiat";
  src:
    url("https://use.typekit.net/af/2edd02/00000000000000007735bc54/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2edd02/00000000000000007735bc54/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2edd02/00000000000000007735bc54/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #09090b;
  min-height: 100vh;
  font-family:
    "JetBrains Mono",
    monospace,
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}
.sk-title-wrapper {
  font-family: itc-benguiat, serif !important;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.sk-title {
  letter-spacing: -5px;
  line-height: 0.7;
  font-size: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
